<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/LinkHub.png" type="image/x-icon" />
    <title>LinkHub | Email Verification</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: monospace;
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        align-items: center;
        text-align: center;
      }
      h1,
      h2 {
        margin: 1rem;
      }
      h1 {
        color: red;
      }
      #heading {
        color: black;
        font-size: 2.8rem;
      }
      #tips {
        color: rgb(89, 89, 89);
      }
    </style>
  </head>
  <body>
    <div>
      <h1 id="heading">LinkHub</h1>
      <h1>Email Verification Link has been expired.</h1>
      <h2 id="tips">
        If you have not verified your email go and Log In to LinkHub. You will
        get a verification link in your email again.
      </h2>
      <h2>You can now close this tab.</h2>
    </div>
  </body>
</html>
