<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/LinkHub.png" type="image/x-icon" />
    <title>LinkHub | Page Not Found</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(219, 242, 235);
      }
      .container {
        height: 95vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: rgb(92, 91, 91);
        margin: 1rem;
      }
      .makeLinkhub {
        margin: 4rem 0;
      }
      .makeLinkhub a {
        text-decoration: none;
        padding: 0.7rem 1rem;
        border: none;
        border-radius: 2.2rem;
        background-color: rgb(247, 246, 246);
        color: black;
        font-weight: bold;
        box-shadow: 2px 2px grey;
      }
      h1{
        margin-top: 8rem;
      }
      h1 a{
        text-decoration: none;
        color: inherit;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Please create a hub first by clicking the 'Create Hub' button on the Dashboard page. Then you will be able to preview your LinkHub page.</h2>
      <div class="makeLinkhub">
        <a href="http://localhost:3000/auth" target="_blank">Create your LinkHub</a>
      </div>
      <h1><a href="http://localhost:3000/" target="_blank">LinkHub</a></h1>
      </div>
    </div>
  </body>
</html>
