<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/LinkHub.png" type="image/x-icon" />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: monospace;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        margin: auto;
        align-items: center;
        text-align: center;
      }
      p {
        font-size: 1.4rem;
        margin: 1rem;
        padding: 1rem;
      }
      h3 {
        font-size: 1.8rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      input {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
        padding: 0.5rem 1rem;
        outline: none;
        text-align: center;
        border: 2px solid grey;
        border-radius: 0.5rem;
      }
      #btn {
        font-size: 1.6rem;
        margin-top: 1rem;
        padding: 0.5rem 0.8rem;
        border-radius: 0.6rem;
        color: white;
        border: none;
        background-color: rgb(9, 164, 73);
        cursor: pointer;
      }
      .text-red {
        color: red;
      }
      .text-green {
        color: green;
        font-size: 2rem;
      }
    </style>
    <title>LinkHub | Reset Password</title>
  </head>
  <body>
    <div class="container">
      <img
        src="https://res.cloudinary.com/dor2rxkrs/image/upload/v1704310218/LinkHub%20Media/LinkHub_Wide-removebg-preview_nhcp7y.png"
        style="width: 18rem; height: 8rem"
      />
      <h3 id="header">
        Reset Your LinkHub Account Password For Username <%= username %>
      </h3>
      <p id="message">Set New Password</p>
      <div class="form">
        <form id="form">
          <input
            type="password"
            id="password1"
            placeholder="Enter New Password"
            autocomplete="off"
          />
          <br />
          <input
            type="password"
            id="password2"
            placeholder="Confirm New Password"
            autocomplete="off"
          />
          <br />
          <input id="btn" type="submit" value="Submit" />
        </form>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("form");
        const message = document.getElementById("message");

        form.addEventListener("submit", function (event) {
          event.preventDefault();
          const password1 = document.getElementById("password1").value;
          const password2 = document.getElementById("password2").value;
          if (password1 !== password2) {
            message.innerHTML = "Please confirm the new password correctly";
            message.classList.add("text-red");
            return;
          }
          fetch(
            `http://localhost:5000/user/reset-password/<%= email %>/<%= token %>`,
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ password: password1 }),
            }
          )
            .then((response) => {
              document.getElementById("header").innerHTML =
                "Password Reset Done for Username <%= username %>";
              message.innerHTML = "Password Reset Successful!";
              message.classList.add("text-green");
            })
            .catch((error) => {
              console.error("Error:", error);
              message.innerHTML = "An error occurred. Please try again.";
            });
          document.getElementById("password1").value = "";
          document.getElementById("password2").value = "";
        });
      });
    </script>
  </body>
</html>
